[mysqld]
max_connections=1000
character-set-server=utf8mb4
default-time_zone ='+8:00'
log-error=/var/log/mysql/mysqld_err.log
log-bin=/var/log/mysql/mysqld_bin.bin
slow_query_log = on
slow-query-log-file = /var/log/mysql/mysql-slow.log
long_query_time = 2
